.main {
  background-image: url("../images/background-home.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 80px 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.content-card-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: blue;
}

.content-card-home > h1,
.content-card-home > p,
.content-card-home > span {
  color: #000;
  text-align: center;
}

.contain-btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contain-btn-home > button {
  box-shadow: 2px 2px 8px rgba(5, 5, 5, 0.5);
}

.contain-btn-home > button:hover {
  box-shadow: 4px -2px 10px rgba(5, 5, 5, 0.5);
}