.container-swiper-home {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  overflow: hidden;
}

.swiper {
  height: 100%;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.title-swip {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 1.5em;
  font-weight: bold;
}

.swiper-wrapper {
  padding: 0;
}
