@import url('./variables.css');

.contain-third-section {
    max-width: 1200px;
    margin: 0 auto;
}

.try {
    position: relative;
    padding: 100px;
    border-top: var(--border-color);
    border-left: var(--border-color);
    border-bottom: var(--border-color);
    border-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}

/* .try::before {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -8px;
    bottom: 50%;
    cursor: pointer; 
} */

.try .circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -8px;
    bottom: 50%;
    cursor: pointer; 
  }

.try2 {
    padding: 100px;
    border-right: var(--border-color);
}

.img-test {
    width: 200px;
    height: 200px;
}

.article-home {
    padding: 25px;
}

.contain-article-home {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.anim1 {
    opacity: 0;
    transform: translateX(100%);
    animation: appear-right 2s forwards;
}

.anim2 {
    opacity: 0;
    transform: translateX(-100%);
    animation: appear-left 2s forwards;
}

@keyframes appear-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}