@import url('./variables.css');

.contain-third-section {
    max-width: 1200px;
    margin: 0 auto;
}

.try {
    padding: 100px;
    border-top: var(--border-color);
    border-left: var(--border-color);
    border-bottom: var(--border-color);
    border-radius: 16px;
}

.try2 {
    padding: 100px;
    border-right: var(--border-color);
    border-radius: 16px;
}

.img-test {
    width: 200px;
    height: 200px;
}