/* GENERAL */

.first-section {
  padding-top: 200px;
  padding-bottom: 50px;
}

.p-succes {
  text-align: center;
}

a {
  color: inherit; 
  text-decoration: none; 
}

/* HEADER  */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  width: 80px;
  height: 80px;
}

.burger-menu {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(64%) saturate(0%) hue-rotate(174deg)
    brightness(109%) contrast(100%);
  cursor: pointer;
}

.container-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contain-button-nav {
  display: flex;
  gap: 20px;
}

.contain-menu {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 280px;
  height: auto;
  position: absolute;
  top: 100px;
  max-height: calc(100vh - 170px);
  z-index: 1000;
  right: 24px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.contain-menu.active {
  visibility: visible;
  opacity: 1;
}

.ul-menu {
  display: flex;
  flex-direction: column;
}

/* HOME  */

.main {
  background-image: url("./images/background-home.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 80px 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.content-card-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: blue;
}

.content-card-home > h1,
.content-card-home > p,
.content-card-home > span {
  color: #000;
  text-align: center;
}

.section-home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 100vh;
}

.contain-swipper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.span-text {
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
}

/* SWIPER  */

.container-swiper-home {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  overflow: hidden;
}

.swiper {
  height: 100%;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.title-swip {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 1.5em;
  font-weight: bold;
}

.swiper-wrapper {
  padding: 0;
}

/* BTN APP  */

.container-btn-app {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contain-btn-app > img {
  width: 200px;
  height: 60px;
}

/* CONTACT  */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-container > button {
  text-align: center;
  margin-bottom: 40px;
}

.contain-contact-componant {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contain-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.contain-adaptiv-img {
  width: 100%;
  max-width: 300px;
}

.serveur {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.form-container {
  width: 100%;
}

.btn-form {
  margin-top: 16px;
}

/* BLOG  */

.contain-blog {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.contain-blog article {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 400px;
  max-height: 550px;
}

.contain-blog article:hover {
  transform: translateY(-5px);
}

.blog-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; 
  line-height: 1.5em; 
}

.contain-blog img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.img-blog {
  width: 100%;
  height: auto;
}

/* A PROPOS  */

.contain-about {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contain-about > h1 {
  text-align: center;
}

.contain-content-about {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contain-content-about > p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* ERROR404  */

.error-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* FOOTER  */

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 18px;
}

.div-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-footer {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(64%) saturate(0%) hue-rotate(174deg)
  brightness(109%) contrast(100%);
}